div.about{
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}
h1.title{
  color: black;
  font-weight:bold;
}
.skills-section{
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;

}
.skills{
  display: flex;
  flex-direction: row;
}
.skills > span {
  color: black;
}
section.about{
  width: 100%;
  display: flex;
  padding: 7% 15%;
  align-items: space-between;
  align-content: space-around;
  font-family: 'Heebo', sans-serif;
}
.section-skills{
  align-items: start;
  text-align: left;
  
}
.content-wrap{
  display: flex;
  align-items: space-between;
  align-content: space-around;
}
