div.about{
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}
h1.title{
  color: black;
  font-weight:bold;
}
.skills-section{
  display: flex;
  flex-direction: column;
}
.skills{
  display: flex;
  flex-direction: row;
}
.skills > span {
  color: black;
}