#text_div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center_all{
  position: absolute;
  top:50%;
  left:15%;
  transform: translateY(-50%, -50%);
  position: absolute;
}

